
.center_y {
    position: absolute;
    width: 2px;
    height: calc(100vh);
    /* top: 50px; */
    top: 0px;
    left: 50%;
    background: blue;
}

.center_x {
    position: absolute;
    width: 100vw;
    height: 2px;
    top: calc((100% - var(--nav-height)) / 2);
    background: blue;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;

    background: var(--dark-grid);
    color: var(--wall);
    border-bottom: 2px solid var(--wall);

    user-select: none;
}


/* .logo {
    width: 180px;
    text-align: center;
    line-height: var(--nav-height);

    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    background: #59ff6f;
} */

.logo-content {
    width: 220px;
    /* line-height: var(--nav-height); */
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    

    /* background: #59ff6f; */
}


.logo-icon {
    margin: 0 10px;
    font-size: 2rem;
    cursor: pointer;

    /* background: aqua; */
}

.logo-label {
    width: 145px;
    font-size: 1.5rem;
    cursor: pointer;

    /* background: yellow; */
}

/* ##################################################### */

.nav-content{
    /* margin: auto; */

    /* width: 500px; */
    display: flex;
    justify-content: space-evenly;
    
    flex-grow: 1;
    /* margin-right: 220px; */

    /* background: pink; */
}

.menu-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.menu-setting-nav{
    width:  85px;
    height:  var(--nav-height);
    margin: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    cursor: pointer;
    border-radius: 10px;
    /* background: #59ff6f; */
}

.icon {
    /* width:  30px; */
    height: 30px; 
    /* padding-top: 5px; */
    text-align: center;
    /* background: aqua; */
}

.icon i {
    font-size: 2rem;
    line-height: 30px;
}

.icon-label {
    width:  100%;
    height: 40px;
    /* margin-bottom: 15px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


    /* background: yellow; */
}

/* ##################################################### */

.sub-menu-content{
    position: absolute;
    top: 90px;
    min-width: 10vw;
    transform: translateX(calc((100% - 85px) / 2));

    opacity: 0;
    visibility: hidden;

    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--wall);
    /* background: yellow; */
    background: var(--dark-grid);
}

.sub-menu-content-settings{
    position: absolute;
    width: 100px;
    top: 90px;
    right: 0px;

    opacity: 0;
    visibility: hidden;

    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--wall);
    background: var(--dark-grid);
}

.sub-menu-content-settings-sub{
    position: fixed;
    width: 100px;
    top: 90px;
    right: 98px;

    opacity: 0;
    visibility: hidden;

    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--wall);
    background: var(--dark-grid);
}

.sub-menu-item{
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
    /* background: aqua; */
}

/* ##################################################### */

.menu-setting-nav:hover {
    border: 2px solid var(--menu-bg);
}

.menu-setting-nav.solve {
    background: var(--menu-bg) ;
    color: var(--dark-grid);
}

.menu-setting:hover .sub-menu-content{
    opacity: 1;
    visibility: visible;
}

.sub-menu-item:hover {
    text-decoration: underline;
}

.settings:hover .sub-menu-content-settings{
    opacity: 1;
    visibility: visible;
}

.sub-menu-item.size:hover  .sub-menu-content-settings-sub{
    opacity: 1;
    visibility: visible;
}

.sub-menu-item.speed:hover  .sub-menu-content-settings-sub{
    opacity: 1;
    visibility: visible;
}

/* ##################################################### */

@media (max-width: 940px) { 
    .logo-content {
        width: 40px;
    }
    .logo-icon {
        margin: 0px;
    }
    .logo-label {
        display: none;
    }
    
}

@media (max-width: 640px) {
    .icon-label{
        display: none;
    }
    .menu-setting-nav {
        width:  40px;
        height: 40px;
    }
    .sub-menu-content{
        top: 50px;
        transform: translateX(calc((100% - 40px) / 2));
    }
    .sub-menu-content-settings, .sub-menu-content-settings-sub{
        top: 50px;
    }

}

@media (max-width: 440px) {
    .menu-setting-nav {
        margin: 5px 0px;
    }
}
